*:focus
{
    box-shadow: none !important;
    border: solid 1px red( any color ) !important;
}
.form-control::placeholder { 
    color: #33da6a;
    opacity: 0.6; 
}

.boxHackTextLoading
{
    font-size: 80px;
    color:#33da6a;
}
.shadow {
    -webkit-filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}
#menu{
    display:none;
}  
.boxHack
{
    width: 220px;
    height: 220px;
    margin-right:30px;
    margin-top:25px;
    border-color: #5fcb82;
    border-style: solid;
    border-width: 3px;
}
.tileRow .boxHack:last-child
{
    margin-right:0px;
}
#tileContainer .tileRow.first-child
{
    margin-top:0px;
}